html {
    height: 100%;
    background: black;
}

body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size:12px;
    color: lightgrey;
    height: 100%;
    position: relative;
    top: -10px;
}

.wrapper {
    width: 1246px;
    padding: 0 15px;
    margin: 0 auto;
    background-image: url('../img/demon.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: -10;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;
    left: -20px;
}

.navigation-menu li {
    list-style: none;
    margin: 0 100px;
}

.navigation-menu li a {
    text-decoration: none;
    color: white;
}

.cards {
    position: relative;
    padding: 0;
}

.hole,
.flop, .turn, .river {
    width: 62px;
    height: 87px;
    background-image: url('../img/cards/card_back6.png');
}

.cards {
    display: flex;
    justify-content: space-between;
}

.user-cards,
.board-cards {
    display: flex;
}

.user-cards div {
    margin-right: 8px;
}

.board-cards div {
    margin-left: 8px;
}

.hidden-cards-select-modal {
    display: none;
    position: absolute;
    top: 95px;
    left: 80px;
    width: 338px;
    height: 143px;
    padding: 0;
}

.hidden-cards-select-modal:after {
    content: "";
    display: block;
    position: absolute;
    width: 328px;
    height: 131px;
    background-color: #4f4f4f;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.visually {
    display: block !important;
}

.position-right {
    left: 770px;
}

.list-none {
    list-style: none;
}

.mini-card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    margin: 0;
    justify-content: space-between;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 2px;
}

.mini-card-list li {
    list-style: none;
    width: 25px;
    height: 33px;
    display: block;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.big-cards div {
    background-size: cover;
}

.modal-cards-close {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/modal-close2.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 342px;
    -webkit-filter: grayscale(100%);
}

.cards-remove {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/modal-close2.png');
    background-size: cover;
    right: 0;
    top: 95px;
    -webkit-filter: grayscale(100%);
}

.modal-cards-close:hover {
    -webkit-filter: grayscale(0%);
}

.cards-remove:hover {
    -webkit-filter: grayscale(0%);
}

.moves-history {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.moves-history > div > div {
    width: 400px;
    min-height: 200px;
    background-color: rgba(100, 100, 100, .45);
    margin-bottom: 48px;

}

.moves-history table {
    position: relative;
    border-collapse: collapse;
    border: none;
}

.moves-history table th {
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .2);
    padding: 2px 2px;
    padding-bottom: 3px;
    font-weight: 600;
}

.moves-history table th:first-child {
    width: 90px;
}

.moves-history table th:last-child {
    width: 110px;
}

.moves-history table th:nth-child(2),
.moves-history table th:nth-child(4),
.moves-history table th:nth-child(5) {
    min-width: 55px;
}

.moves-history table th:nth-child(3) {
    min-width: 60px;
}

.preflop-moves table th:nth-child(3) {
    min-width: 55px;
}

.moves-history table td {
    padding: 2px 2px;
}

.moves-history select {
    -webkit-appearance: none;
    line-height: 1em;
    background-color: rgba(100, 100, 100, .45);
    outline: none;
    width: 50px;
}

.moves-history select * {
    width: 50px;
    line-height: 1em;
}

.moves-history table td:first-child {
    width: 100px;
    overflow: hidden;
    margin-right: 2px;
    white-space: nowrap;
    vertical-align: middle;
    display: block;
    position: relative;
}

.moves-history table td:not(:first-child) {
    text-align: center;
}

.moves-history table th:not(:first-child) {
    text-align: center;
}

table caption {
     position: absolute;
     top: -25px;
     left: 185px;
     font-family: Verdana, Geneva, sans-serif;
     font-size: 15px;
     color: lightgrey;
     font-weight: 600;
 }

.preflop-moves caption {
    left: 173px;
}

.moves-history > div:last-child {
    position: relative;
    left: 407px;
}

.moves-history .all-info-table {
    width: 100%;
}

.all-info-table td:nth-child(1),
.all-info-table.postflop td:nth-child(3) {
    cursor: pointer;
    position: relative;
}

.raise-amount {
    -webkit-appearance: none;
    width: 95%;
    border-radius: 8px;
    height: 3px;
    background-color: #fff;
    outline: none;
}

.raise-amount::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    cursor: pointer;
}

tr:nth-child(2n) {
    background: rgba(255, 255, 255, .1);
}

.min-cards-opacity {
    opacity: 0.1;
}

.moves-wrapper {
    position: relative;
    box-sizing: border-box;
}

.moves-history .add-move-button,
.moves-history .sub-move-button {
    position: absolute;
    background: none;
    border: none;
    width: 14px;
    height: 14px;
    background-size: cover;
    cursor: pointer;
    margin-left: 5px;
    -webkit-filter: grayscale(100%);
    outline: none;
}

.moves-history .sub-move-button {
    left: 27px;
}

.river-buttons {
    display: flex;
    justify-content: space-between;
}

.moves-history .add-move-button {
    background-image: url('../img/add-button.png');
    margin-right: 3px;
}

.moves-history .sub-move-button {
    background-image: url('../img/sub-button.png');
}

.moves-history .add-move-button:hover {
    -webkit-filter: grayscale(0%);
}

.moves-history .sub-move-button:hover {
    -webkit-filter: grayscale(0%);
}

#all-moves-remove {
    position: relative;
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    top: -40px;
    right: 0px;
    background-image: url('../img/modal-close2.png');
    background-size: cover;
    -webkit-filter: grayscale(100%);
    outline: none;
}

#all-moves-remove:hover {
    -webkit-filter: grayscale(0%);
}

.add-button-wrapper {
    width: 50px;
    height: 20px;
    display: block;
    position: relative;
    top: -43px;
}

.hidden  {
    display: none !important;
}

output {
    position: absolute;
    top: 15px;
    left: -26px;
}
.dollar {
    position: absolute;
    top: 15px;
    left: -34px;
}

.raise-form {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#player-stats {
    position: absolute;
    width: 427px;
    height: 350px;
    background: rgba(160, 160, 80, .92);
    z-index: 1999;
}

#action-menu label {
    /*color: royalblue;*/
    color: rgb(230,230,230);
    cursor: pointer;
}

#action-menu label:hover {
    /*color: royalblue;*/
    color: dodgerblue;
    cursor: pointer;
}

#action-menu label:last-child:hover {
    /*color: royalblue;*/
    color: blueviolet;
}

#action-menu {
    position: absolute;
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    background: rgba(20, 40, 130, .92);
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 15px;
    padding-top: 15px;
    padding-left: 35px;
    font-size: 14px;
}

.color-yellow {
    color: lime;
}

.color-violet {
    color: dodgerblue;
}

#gto:checked + label {
    color: crimson;
}

#upload-button,
#random-button,
#iq-button {
    border: none;
    position: absolute;
    background: none;
}

#upload-button {
    background-image: url("../img/upload_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 73px;
    height: 73px;
    top: 450px;
    left: 30px;
    background-size: cover;
    outline: none;
}

#upload-button:hover {
    background-image: url("../img/upload_g_hover2.png");
    cursor: pointer;
}

#random-button {
    background-image: url("../img/random_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 110px;
    height: 110px;
    top: 560px;
    left: 13px;
    background-size: cover;
    outline: none;
}

#random-button:hover {
    background-image: url("../img/random_g_hover.png");
    cursor: pointer;
}

#iq-button {
    background-image: url("../img/iq_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 104px;
    height: 104px;
    top: 593px;
    left: 155px;
    background-size: contain;
    outline: none;
}

#iq-button:hover {
    background-image: url("../img/iq_g_hover.png");
    cursor: pointer;
}