html {
    height: 100%;
    background-color: #0c0e18;
}

body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size:12px;
    color: lightgrey;
    height: 100%;
    position: relative;
    top: -10px;
    /*left: -850px;*/
}

.wrapper {
    width: 1246px;
    height: 700px;
    padding: 0 15px;
    margin: 0 auto;
    /*background-image: url('../img/demon.png');
    background-repeat: no-repeat; */
    background-color: #10131d;
    box-sizing: border-box;
    z-index: -10;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
    padding-left: 0;
}

.navigation-menu li {
    list-style: none;
    margin: 0 50px;
    display: inline-block;
}

.navigation-menu li a {
    color: #3f4148;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-active {
    color: white !important;
    font-size: 15px !important;
}

.navigation-menu li:not(:last-child) {
    flex-grow: 0;
    padding: 0;
    margin: 0 10px;
}

.navigation-menu li:last-child {
    flex-grow: 1;
    margin: 0;
    text-align: right;
    padding-right: 3px;
}

.navigation-menu li:first-child {
    margin-left: 0;
    padding-left: 3px;
}

.navigation-menu li a:not(.nav-active):hover {
    color: white !important;
}

.cards {
    position: relative;
    padding: 0;
}

.hole,
.flop, .turn, .river {
    width: 62px;
    height: 87px;
    background-image: url('../img/cards/card_back6.png');
}

.cards {
    display: flex;
    justify-content: space-between;
}

.user-cards,
.board-cards {
    display: flex;
}

.user-cards div {
    margin-right: 8px;
}

.board-cards div {
    margin-left: 8px;
}

.hidden-cards-select-modal {
    display: none;
    position: absolute;
    top: 95px;
    left: 80px;
    width: 338px;
    height: 143px;
    padding: 0;
}

.hidden-cards-select-modal:after {
    content: "";
    display: block;
    position: absolute;
    width: 328px;
    height: 131px;
    background-color: #4f4f4f;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.visually {
    display: block !important;
}

.position-right {
    left: 770px;
}

.list-none {
    list-style: none;
}

.mini-card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    margin: 0;
    justify-content: space-between;
    background-color: rgba(100, 100, 100, .3);
    border-radius: 2px;
}

.mini-card-list li {
    list-style: none;
    width: 25px;
    height: 33px;
    display: block;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.big-cards div {
    background-size: cover;
}

.modal-cards-close {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/modal-close2.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 342px;
    -webkit-filter: grayscale(100%);
}

.cards-remove {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/modal-close2.png');
    background-size: cover;
    right: 0;
    top: 95px;
    -webkit-filter: grayscale(100%);
}

.modal-cards-close:hover {
    -webkit-filter: grayscale(0%);
}

.cards-remove:hover {
    -webkit-filter: grayscale(0%);
}

.moves-history {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.moves-history > div > div {
    width: 400px;
    min-height: 200px;
    background-color: rgba(100, 100, 100, .45);
    margin-bottom: 48px;

}

.moves-history table {
    position: relative;
    border-collapse: collapse;
    border: none;
}

.moves-history table th {
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .2);
    padding: 2px 2px;
    padding-bottom: 3px;
    font-weight: 600;
    color: white;
}

.moves-history table th:first-child {
    width: 90px;
}

.moves-history table th:last-child {
    width: 110px;
}

.moves-history table th:nth-child(2),
.moves-history table th:nth-child(4),
.moves-history table th:nth-child(5) {
    min-width: 55px;
}

.moves-history table th:nth-child(3) {
    min-width: 60px;
}

.preflop-moves table th:nth-child(3) {
    min-width: 55px;
}

.moves-history table td {
    padding: 2px 2px;
}

#flying2 {
    -webkit-appearance: none;
    -moz-appearance:none;
    line-height: 1em;
    background-color: rgba(100, 100, 100, .45);
    outline: none;
    width: 50px;
    text-indent: 0.01px;
    text-overflow: '';
}

#flying2 * {
    width: 50px;
    line-height: 1em;
}

.moves-history table td:first-child {
    width: 100px;
    overflow: hidden;
    margin-right: 2px;
    white-space: nowrap;
    vertical-align: middle;
    display: block;
    position: relative;
}

.moves-history table td:not(:first-child) {
    text-align: center;
}

.moves-history table th:not(:first-child) {
    text-align: center;
}

table caption {
     position: absolute;
     top: -25px;
     left: 185px;
     font-family: Verdana, Geneva, sans-serif;
     font-size: 15px;
     color: #ffffff;
     font-weight: 600;
 }

.preflop-moves caption {
    left: 173px;
}

.moves-history > div:last-child {
    position: relative;
    left: 407px;
}

.moves-history .all-info-table {
    width: 100%;
}

.all-info-table td:nth-child(1),
.all-info-table.postflop td:nth-child(3) {
    cursor: pointer;
    position: relative;
}

.raise-amount {
    -webkit-appearance: none;
    width: 95%;
    border-radius: 8px;
    height: 3px;
    background-color: #fff;
    outline: none;
}

.raise-amount::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    cursor: pointer;
}

tr:nth-child(2n) {
    background: rgba(255, 255, 255, .1);
}

.min-cards-opacity {
    opacity: 0.1;
}

.moves-wrapper {
    position: relative;
    box-sizing: border-box;
}

.moves-history .add-move-button,
.moves-history .sub-move-button {
    position: absolute;
    background: none;
    border: none;
    width: 14px;
    height: 14px;
    background-size: cover;
    cursor: pointer;
    margin-left: 5px;
    -webkit-filter: grayscale(100%);
    outline: none;
}

.moves-history .sub-move-button {
    left: 27px;
}

.river-buttons {
    display: flex;
    justify-content: space-between;
}

.moves-history .add-move-button {
    background-image: url('../img/add-button.png');
    margin-right: 3px;
}

.moves-history .sub-move-button {
    background-image: url('../img/sub-button.png');
}

.moves-history .add-move-button:hover {
    -webkit-filter: grayscale(0%);
}

.moves-history .sub-move-button:hover {
    -webkit-filter: grayscale(0%);
}

#all-moves-remove {
    position: relative;
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    top: -40px;
    right: 0px;
    background-image: url('../img/modal-close2.png');
    background-size: cover;
    -webkit-filter: grayscale(100%);
    outline: none;
}

#all-moves-remove:hover {
    -webkit-filter: grayscale(0%);
}

.add-button-wrapper {
    width: 50px;
    height: 20px;
    display: block;
    position: relative;
    top: -43px;
}

.hidden  {
    display: none !important;
}

output {
    position: absolute;
    top: 15px;
    left: -26px;
}
.dollar {
    position: absolute;
    top: 15px;
    left: -34px;
}

.raise-form {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#player-stats {
    position: absolute;
    width: 447px;
    height: 310px;
    background: rgba(255, 255, 255, 0.96);
    z-index: 100;
    padding: 8px 5px;
    color: #000000;
    font-size: 10px;
    line-height: 10px;
    margin: 0;
}

#player-stats h4 {
    margin: 0;
    color: #cc0004;
    font-size: 12px;
}

#player-stats h4:not(:first-child) {
    margin-top: 17px;
}

#player-stats h3 {
    position: absolute;
    right: 10px;
    top: 5px;
    margin: 0;
}

#player-stats p {
    margin: 5px 0;
}

#player-stats input {
    background: inherit;
    border: none;
    font-size: 10px;
    color: #cad0ff;
    display: inline-block;
    max-width: 2.5em;
    text-overflow: ellipsis;
}

#player-stats span[id] {
    font-size: 12px;
    color: #2239a8;
    cursor: pointer;
    font-family: 'Asap', sans-serif;
}

/*
#player-stats input::-webkit-input-placeholder {color: white;}
#player-stats input::-moz-placeholder          {color: white;}
*/

#action-menu label {
    /*color: royalblue;*/
    color: rgb(230,230,230);
    cursor: pointer;
}

#action-menu label:hover {
    /*color: royalblue;*/
    color: dodgerblue;
    cursor: pointer;
}

#action-menu label:last-child:hover {
    /*color: royalblue;*/
    color: blueviolet;
}

#action-menu {
    position: absolute;
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    background: rgba(20, 40, 130, .92);
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 15px;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 14px;
}

.color-yellow {
    color: lime;
}

.color-violet {
    color: dodgerblue;
}

#gto:checked + label {
    color: crimson;
}

@keyframes button-hover {
    from {opacity: 0.7;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);}
    to {opacity: 1;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);}
}

@keyframes button-focusout {
    from {opacity: 1;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);}
    to {opacity: 0.7;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);}
}

@keyframes button-hover-rotate {
    from {}
    to {-moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);}
}

@keyframes button-focusout-rotate {
    from {opacity: 1;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);}
    to {opacity: 0.7;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);}
}

#upload-button,
#random-button,
#iq-button,
#learn-button {
    border: none;
    position: absolute;
    background: none;
}

#upload-button {
    background-image: url("../img/upload_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 73px;
    height: 73px;
    top: 450px;
    left: 30px;
    background-size: cover;
    outline: none;
}

#upload-button:after {
    content: '';
    background-image: url("../img/upload_circle.png");
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    bottom: 9px;
    left: 35px;
    position: absolute;
    background-size: cover;
    outline: none;
}



#upload-button:hover {
    cursor: pointer;
    background-image: url("../img/upload_g_hover2.png");
    background-repeat: no-repeat;
}

#upload-button:hover:after {
    animation: button-hover-rotate 0.7s 1 ease-in-out;
}

#random-button {
    background-image: url("../img/random_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 110px;
    height: 110px;
    top: 560px;
    left: 13px;
    background-size: cover;
    outline: none;
    opacity: 0.7;
}

#random-button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    animation: button-hover 0.25s 1 ease-in-out;
}

#random-button:not(:hover) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
    animation: button-focusout 0.6s 1 ease-in-out;
}

#iq-button {
    background-image: url("../img/iq_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    top: 591px;
    left: 275px;
    background-size: contain;
    outline: none;
    opacity: 0.7;
}

#iq-button:hover {
    /*background-image: url("../img/iq_g_hover.png"); */
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    animation: button-hover 0.25s 1 ease-in-out;
}

#iq-button:not(:hover) {
    /*background-image: url("../img/iq_g_hover.png"); */
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
    animation: button-focusout 0.6s 1 ease-in-out;
}

#learn-button {
    background-image: url("../img/learn_g.png");
    background-repeat: no-repeat;
    display: block;
    width: 125px;
    height: 80px;
    top: 598px;
    left: 140px;
    background-size: contain;
    outline: none;
    opacity: 0.7;
}

#learn-button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    animation: button-hover 0.25s 1 ease-in-out;
}

#learn-button:not(:hover) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
    animation: button-focusout 0.6s 1 ease-in-out;
}

.select2-container .select2-choice {
    padding: 5px 10px;
    height: 20px;
    font-size: 1.2em;
}

.select2-container .select2-choice .select2-arrow {
    background-image: -moz-linear-gradient(top, #424242, #030303);
    background-image: -ms-linear-gradient(top, #424242, #030303);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));
    background-image: -webkit-linear-gradient(top, #424242, #030303);
    background-image: -o-linear-gradient(top, #424242, #030303);
    background-image: linear-gradient(#424242, #030303);
    width: 40px;
    color: #fff;
    font-size: 1.3em;
    padding: 4px 12px;
}

.select2-option {
    background-color: red;
    width: 100px;
    height: 40px;
    color: red;
    list-style: none;
    display: inline-block;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: green;
}

.select2-container--default .select2-results__option--highlighted[aria] {
    background-color: green;
}

#user_id {
    position: relative;
}

#user_id option {
    position: relative;
    top: 50px;
}

#nickname-input,
#list {
    width: 100%;
    margin: 10px auto;
    display: block;
}

#list {
    position: absolute;
    z-index: 99;
}

#nickname-input {
    margin: 0;
}
